@font-face {
    font-family: gotham-bold;
    src: url(Gotham-Black.otf);
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.design {
    display: none;
}

.nav-container {
    background: #98acf8;

    a {
        color: #fefefe;
    }
}

header {
    text-align: center;
    padding: 0.7em 0;

    .logo {
        color: #bedcfa;
        font-size: 50px;
    }
}

nav {
    margin: 1.7em 0 1.2em;
    font-family: gotham-bold !important;
    font-size: 21px;
    ul {
        li {
            padding: 0 0.4em;
            display: inline;
        }
    }
}

.social-header {
    display: none;
}

.hero {
    display: none;
    background-color: #da9ff9;
    display: grid;
    text-align: center;
}

.content {
    font-size: 35px;
    line-height: 2;
}

.call-to-action {
    color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4em;
    img {
        width: 100px;
        height: auto;
    }
    p {
        margin: 0 0.5em;
    }
}

.order {
    margin-top: 8em;
    textarea,
    input {
        border-radius: 25px;
        border: 0.3px solid #c2c2c2;
        width: 25em;
        margin: 3px;
    }
    input {
        height: 3.5em;
        display: block;
        margin: auto;
        width: 95%;
    }
    textarea {
        height: 20em;
        display: block;
        margin: auto;
        width: 95%;
    }
    section {
        text-align: left;
        display: block;
        label {
            color: #363636;
            font-size: 37px;
            float: left;
            margin: 0 0 0.2em 0.5em;
        }
        a {
            color: #949494;
            font-size: 26px;
            margin: 0 0 0.2em 0.5em;
        }
    }
}

button {
    background-color: #d6d6d6;
    border-radius: 25px;
    display: block;
    margin: 0 auto 2em;
    width: 80%;
    height: 4em;
    border: 0.3px solid #c2c2c2;
    font-family: gotham-bold !important;
    font-size: 100%;
    color: #363636;
}
footer {
    padding: 1.5em;
    text-align: center;
    background: #d4d1d1;
    color: #949494;
    line-height: 1.7;
    font-size: 25px;
}

.inlining {
    font-size: 37px;
    display: inline-flexbox;
    justify-content: space-between;
}

@media only screen and (min-width: 730px) {
    .hero {
        background-image: url(../images/graphics.svg);
        background-size: 72em;
        background-repeat: no-repeat;
        background-position: 0 0;
        text-align: center;
        p {
            font-size: 100px;
            font-weight: Bold;
        }
    }
    .call-to-action {
        color: #363636;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4em;
        img {
            width: 100px;
            height: auto;
        }
        p {
            margin: 0;
            padding-left: 0.5em;
        }
    }
}
@media only screen and (min-width: 1050px) {
    header {
        padding: 0.5em;
        display: grid;
        .logo {
            float: left;
            padding: 0 0 0 0.5em;
            font-size: 50px;
            margin: 0;
        }
        nav {
            font-size: 30px;
            padding: 0.2em 1.5em;
            margin: 0;
            padding-right: 0;
        }
    }
}

@media only screen and (min-width: 1300px) {
    .nav-container {
        font-size: 0;
        display: flex;
    }
    header {
        font-size: 0;
        padding: 0;
        display: grid;
        width: 65%;
    }
    .social-header {
        width: 35%;
        background-color: #bedcfa;
        display: grid;
        .logos {
            width: 100%;
            margin: auto;
        }
        ul {
            li {
                display: inline;
                img {
                    width: 10%;
                    margin: 0 50px;
                }
            }
        }
    }
    .hero {
        font-size: 0;
        display:inline-block;
        width: 65%;
        background-image: url(../images/graphics.svg);
        background-size: contain;
        text-align: left;
        p {
            font-size: 70px;
            font-weight: Bold;
            padding: 0 0 0 2em;
        }
    }
    .call-to-action {
        color: #363636;
        display: flex;
        align-items: left;
        justify-content: left;
        padding: 0 0 4em 5.5em;
        img {
            width: 100px;
            height: auto;
        }
        p {
            margin: 0;
            padding-left: 0.5em;
        }
        margin: 0;
        padding-left: 4em;
    }
    .design {
        font-size: 0;
        display:inline-block;
        width: 30%;
        margin-top: -4px;
    }
}
