@font-face {
    font-family: gotham-bold;
    src: url(Gotham-Black.otf);
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.shapes {
    display: none;
}

.design {
    display: none;
}

.nav-container {
    background: #98acf8;

    a {
        color: #fefefe;
    }
}

header {
    text-align: center;
    padding: 0.7em 0;

    .logo {
        color: #bedcfa;
        font-size: 50px;
    }
}

nav {
    margin: 1.7em 0 1.2em;
    font-family: gotham-bold;
    font-size: 21px;
    ul {
        li {
            padding: 0 0.4em;
            display: inline;
        }
    }
}

.social-header {
    display: none;
}

.hero {
    display: none;
    background-color: #da9ff9;
    display: grid;
    text-align: center;
}

.content {
    font-size: 35px;
    line-height: 2;
}

.call-to-action {
    color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4em;
    img {
        width: 100px;
        height: auto;
    }
    p {
        margin: 0 0.5em;
    }
}

.order {
    margin-top: 8em;
    textarea,
    input {
        border-radius: 25px;
        border: 0.3px solid #c2c2c2;
        width: 25em;
        margin: 3px;
    }
    input {
        height: 3.5em;
        display: block;
        margin: auto;
        width: 95%;
    }
    textarea {
        height: 20em;
        display: block;
        margin: auto;
        width: 95%;
    }
    section {
        text-align: left;
        display: grid;
        label {
            color: #363636;
            font-size: 50px;
            float: left;
            margin: 0 0 0.2em 0.5em;
        }
        a {
            color: #949494;
            font-size: 26px;
            margin: 0 0 0.2em 1em;
        }
    }
}

button {
    background-color: #d6d6d6;
    border-radius: 25px;
    display: block;
    margin: 0 auto 2em;
    width: 80%;
    height: 4em;
    border: 0.3px solid #c2c2c2;
    font-family: gotham-bold !important;
    font-size: 100%;
    color: #363636;
}
footer {
    padding: 1.5em;
    text-align: center;
    background: #d4d1d1;
    color: #949494;
    line-height: 1.7;
    font-size: 25px;
}

.inlining {
    font-size: 37px;
    display: inline-flexbox;
    justify-content: space-between;
}

@media only screen and (min-width: 730px) {
    .hero {
        background-image: url(../images/graphics.svg);
        background-size: 72em;
        background-repeat: no-repeat;
        background-position: 0 0;
        text-align: center;
        p {
            font-size: 100px;
            font-weight: Bold;
        }
    }
    .call-to-action {
        color: #363636;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4em;
        img {
            width: 100px;
            height: auto;
        }
        p {
            margin: 0;
            padding-left: 0.5em;
        }
    }
}
@media only screen and (min-width: 1050px) {
    header {
        text-align: none;
        font-size: 0;
        padding: 0;
        margin: 0;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        .logo {
            display: inline;
            font-size: 50px;
            margin: 0;
            width: 10.4em;
            padding-top: 15px;
        }
        nav {
            padding: 100px;
            width: 20em;
            display: inline;
            font-size: 30px;
            padding: 40px 0 0 0 ;
            margin: 0;
            ul {
                display: inline;
            }
        }
    }
    .order {
        text-align: center;
        justify-content: center;
        display: inline-block;
        width: 100%;
        form {
            textarea, input {
                margin: 0;
                padding: 0;
            }
            input {
                height: 3.5em;
                width: 300px;
                padding: 0 21px;
            }
            textarea {
                height: 20em;
                display: block;
                width: 700px;
            }
            section {
                .mobile {
                    display: none;
                }
                display: inline-block;
                label {
                    color: #363636;
                    font-size: 37px;
                    float: left;
                    padding: 0;
                    margin: 0;
                }
                a {
                    color: #949494;
                    font-size: 26px;
                    margin: 0;
                    padding-left: 195px;
                }
            }
            button {
                width: 50%;
            }
        }
    }
}

@media only screen and (min-width: 1300px) {
    .nav-container {
        font-size: 0;
        display: flex;
    }
    header {
        width: 65%;
    }
    .social-header {
        z-index: 30;
        width: 35%;
        background-color: #bedcfa;
        display: flex;
        .logos {
            width: 100%;
            justify-content: center;
            padding: 0 0  20px 0;
        }
        ul {
            width: auto;
            height: 100%;
            display: block;
            margin: auto;
            text-align: center;
            li {
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                img {
                    width: 50%;
                    margin-top: 20%;
                }
            }
        }
    }
    .hero {
        font-size: 0;
        display: inline-block;
        width: 65%;
        background-image: url(../images/graphics.svg);
        background-size: contain;
        text-align: left;
        p {
            font-size: 70px;
            font-weight: Bold;
            padding: 0 0 0 2em;
        }
    }
    .call-to-action {
        color: #363636;
        display: flex;
        align-items: left;
        justify-content: left;
        padding: 0 0 4em 5.5em;
        img {
            width: 100px;
            height: auto;
        }
        p {
            margin: 0;
            padding-left: 0.5em;
        }
        margin: 0;
        padding-left: 4em;
    }
    .design {
        font-size: 0;
        display: inline-block;
        width: 30%;
        margin-top: -4px;
        z-index: 1;
    }
}
@media only screen and (min-width: 1900px) {
    .shapes {
        display: inline-block;
        width: 35%;
        margin: 0 45px;
    }
    .order {
        width: 60%;
    }
}