@font-face {
    font-family: gotham-bold;
    src: url(Gotham-Black.otf);
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    background-color: #F2F2F2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: #98ACF8;

    a {
        color: #FEFEFE;
    }
}

header {
    text-align: center;
    padding: 0.7em 0;

    .logo {
        color: #BEDCFA;
        font-size: 50px;
    }
}

nav {
    margin: 1.7em 0 1.2em ;
    font-family: gotham-bold !important;
    font-size: 21px;
    ul {
        li {
            padding: 0 0.4em;
            display: inline;
        }
    }
}

.social-header{
    display: none;
}

.hero {
    background-color: #DA9FF9;
    display: grid;
    text-align: center;
}

.content {
    font-size: 35px;
    line-height: 2;
}

.call-to-action {
    color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4em;
    img {
        width: 100px;
        height: auto;
    }
    p {
        margin: 0 0.5em;
    }
}

.order {
    margin-top: 8em;
    textarea, input {
        border-radius: 25px;
        border: 0.3px solid #C2C2C2;
        width: 25em;
        margin: 3px;
    }
    input {
        height: 3.5em;
        display: block;
        margin: auto;
        width: 95%;
    }
    textarea {
        height: 20em;
        display: block;
        margin: auto;
        width: 95%;
    }
    section {
        text-align: left;
        display: block;
        label {
            color: #363636;
            font-size: 37px;
            float: left;
            padding: 0 0 0.2em 0.5em;
        }
        a {
            display: block;
            color: #949494;
            padding-left: 0.8em;
            font-size: 26px;
        }
    }
}

button {
    background-color:#d6d6d6;
    border-radius: 25px;
    display: block;
    margin: 0 auto 2em;
    width: 80%;
    height: 4em;
    border: 0.3px solid #C2C2C2;
    font-family: gotham-bold !important;
    font-size: 100%;
    color:  #363636;
}
footer {
    padding: 1.5em;
    text-align: center;
    background: #D4D1D1;
    color: #949494;
    line-height: 1.7;
    font-size: 25px;
}